/* BUTTONS */

a {
    &.button {
        background-color: $light-gray-color;
        border-radius: 6px;
        padding: 12px 46px;
        font-weight: 700;
        display: inline-block;
        transition: all 0.2s ease-in-out;
        color: $default-color;

        &:hover {
            color: white;
            text-decoration: none;
        }

        &.btn-tea {
            background-color: $tea-background-color;

            &:hover {
                background-color: $tea-text-color;
            }
        }

        &.btn-pink {
            background-color: $pink-background-color;

            &:hover {
                background-color: $pink-text-color;
            }
        }

        &.btn-wide {
            border-radius: 0;
            display: block;
            text-align: right;
        }
    }
}
