/* TEXTS */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 24pt;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 13pt;
    font-weight: 600;
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    text-transform: uppercase;
}

a {
    color: $pink-text-color;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $tea-text-color;
        text-decoration: none;
    }
}
